* {
margin: 0;
text-decoration: none;
box-sizing: border-box;
padding: 0;
}
body {
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
}

header {
    color: rgb(10, 8, 8);
    padding: 10px;
    
}
.navbar {
    display: flex;
    justify-content: space-around;


}

nav ul {
    list-style: none;
    padding: 0;
    
}




.content {
    position: relative;
    display:inline-block;
    justify-content: center;
    top:40px;
    background-color: gray;
    padding: 50px;
    height: 220px;
    line-height: 20px;
    align-items: center;
    margin-left: 40px;
    
}

a {
    text-decoration: none;
    color: rgb(12, 12, 12);
}
h2 {
    margin-bottom: 1em;
}

.content a {

    display: inline-flex;
    justify-content: center;
    background-color:lavender;
    padding:10px;
    margin-top: 30px ;
}



.background {
    background-image: url(../images/banner-landingpage.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 800px;

}


.main-content {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 439px) {
    header {
        padding: 15px;
    }

    nav {
        text-align: center;
    }

    nav ul {
        display: block;
        margin: 0;
        padding: 0;
    }

    nav li {
        display: block;
        margin-bottom: 10px;
    }
    .content{
        display: block;
        width: 100%;
        top: 0;
        padding: 40px 20px;
        margin-left: 0px;

    }

    .main-content {
        padding: 10px;
    }

    footer {
        padding: 15px;
    }
}

